body {
  margin: 0;
  padding: 0;
  background: #2e6b6d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

.App {
  text-align: center;
}

.text_area {
  width: 600px;
  height: 400px;
  border: 3px solid white;
  background: rgba(255, 255, 255, 0.712);
  padding: 6px;
  margin: 6px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#text_input {
  width: 400px;
  height: 80px;
  border: 5px solid black;
  padding: 6px;
  margin: 6px;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.housesRow {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
}

#select-option {
  display: inline-block;
  width: 100%;
}

#houses-links {
  flex-basis: 31%;
  height: 52vh;
  padding: 12px;
  margin: 1%;
  border: 6px solid teal;
}

.houseInfoContainer {
  width: 100%;
  padding: 5px;
  align-self: flex-end;
}

.houseImg {
  width: 174px;
  border-radius: 20%;
}

.houseDetails {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 2px;
  font-size: 15px;
}

a {
  color: black;
}

.totals {
  margin-left: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Verdana, sans-serif;
}

.active {
  background-color: #2e6b6d;
}

.row,
.pagesButtons,
.submitButton {
  margin: 20px;
  padding: 20px;
}
